<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <style>
        body {
            margin: 0;
            padding: 1rem;
            padding-bottom: 3rem;
        }
    </style>
</head>

<body>
    <form action="/create" method="POST">
        <input type="text" name="name" placeholder="Room name">
        <input type="text" name="pass" placeholder="room password, can leave it empty">
        <input type="submit" value="Create">
    </form>
</body>

</html>